.book {
  height: 200px;
}

.book .img {
	height:70%;
}


.book .content {
 	font-size: 12px;
	height: 30%;
}

.book .title {
	display: block;
}

.book .author {
	display: block;
	color: grey;
}

.book .book-shelf-changer {

  background: #60ac5d;
  background-image: url('./icons/arrow-drop-down.svg');	
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  padding-bottom: -10%;

  
}